<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/nav_footer.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar">
    <a th:href="@{/home}">
        <img src="/images/logo.ico" />
    </a>
    <ul class="flex items-center gap-3">
        <li>
            <a th:href="@{/cabinet}">
                <img src="/images/ma-avatar2.png" alt="avatar" class="w-10 h-10 rounded-full" />
            </a>
        </li>
    </ul>
</nav>

<div class="content">
    <form class="content_catalog" th:action="@{/home/filter}" th:object="${filter}" th:method="post">
        <div class="capacity-checkbox">
            <label class="count_text">Count capacity</label><br>
            <div class="catalog_list">
                <label class="label_list" >
                    <input name="cssCheckbox"   th:field="*{firstCheckboxForCapacity}" type="checkbox"  id="1 8">
                    <label for="1 8">1-8</label>
                </label><br>
                <label class="label_list" >
                    <input name="cssCheckbox"  th:field="*{secondCheckboxForCapacity}"  type="checkbox"  id="8 15">
                    <label for="8 15"  >8-15</label>
                </label><br>
                <label class="label_list" >
                    <input name="cssCheckbox"  th:field="*{thirdCheckboxForCapacity}" type="checkbox"  id="15 20">
                    <label for="15 20" >15-20</label>
                </label><br>
                <input type="hidden" name="capacity" id="capacity" th:field="*{capacity}">
            </div>
        </div>

        <div class="yacht-type-checkbox">
            <label class="type_text">Type yacht</label><br>
            <div class="catalog_list">
                <label class="label_list">
                    <input name="cssCheckbox" type="checkbox"  th:field="*{smallBoatSelect}" id="SMALL_BOAT">
                    <label for="SMALL_BOAT">Small boat</label>
                </label><br>

                <label class="label_list">
                    <input name="cssCheckbox" type="checkbox" th:field="*{boatSelect}" id="BOAT">
                    <label for="BOAT" >Boat</label>
                </label><br>

                <label class="label_list">
                    <input name="cssCheckbox" type="checkbox" th:field="*{shipSelect}" id="SHIP">
                    <label for="SHIP">Ship</label>
                </label><br>

                <input type="hidden" name="yachtTypes" id="yachtType" th:field="*{yachtTypes}">
            </div>
        </div>

        <label class="type_text">Price</label><br>
        <div class="range-slider container">
            <span class="output outputOne" contenteditable="true" oninput="validateNumber(this)"></span>
            <span class="output outputTwo" contenteditable="true" oninput="validateNumber(this)"></span>
            <span class="full-range"></span>
            <span class="incl-range"></span>
            <input id="rangeOne" name="rangeOne" th:field="*{min}" th:min="*{mainMin}" th:max="*{mainMax}" step="1" type="range">
            <input id="rangeTwo" name="rangeTwo" th:field="*{max}" th:min="*{mainMin}" th:max="*{mainMax}" step="1" type="range"><br>
            <button class="save_button" type="submit">Save</button>
        </div>
        <br>
        <input type="hidden" th:field="*{mainMin}">
        <input type="hidden" th:field="*{mainMax}">

    </form>

    <div class="wrapper">
        <div th:if="${yachts.totalElements < 1}">

            <form th:action="@{/home/search}" th:method="post">
                <div class="search-box">
                    <button class="btn-search"><i class="fa fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Type to Search..." name="searchName">
                </div>
            </form>
            <br>
            <h2>Sorry, but currently there are no yachts on the website (</h2>
        </div>

        <div th:unless="${yachts.totalElements < 1}">

            <form th:action="@{/home/search}" th:method="post">
                <div class="search-box">
                    <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Search by name..." name="searchName">
                </div>
            </form>

            <div class="product-cards">
                <ul class="product-cards_list">
                    <li class="product-card" th:each="yacht : ${yachts}">
                        <div class="product-card_top">
                            <div class="product-card_image">
                                <img src="/images/boat-outline.svg"
                                     alt="Produkt Name"/>
                            </div>
                        </div>
                        <div class="product-card_body">
                            <span class="product-card_name" th:text="${yacht.name}"></span>
                            <div class="product-card_block">
                                <p class="product-card_text" th:text="'Type: '+${yacht.type}"></p>
                                <p class="product-card_text" th:text="'Max capacity: ' + ${yacht.capacity}"></p>
                            </div>
                        </div>
                        <div class="product-card_footer">
                            <span class="product-card_price" th:text="'₴'+${yacht.pricePerHour}"></span>
                            <a th:href="@{/yacht/info(id=${yacht.id})}" class="show_more_button">Show more</a>
                        </div>
                    </li>
                </ul>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li th:if="${yachts.number > 0}" class="page-item">
                        <a class="btn btn-sm btn-outline-dark"
                           th:href="@{/home(page=${yachts.number - 1}, size=${yachts.size})}" tabindex="-1">Previous</a>
                    </li>

                    <li th:each="pageNumber : ${#numbers.sequence(0, yachts.totalPages - 1)}"
                        th:class="${pageNumber == yachts.number ? 'page-item active' : 'page-item'}">
                        <a class="btn btn-sm btn-outline-dark"
                           th:href="@{/home(page=${pageNumber}, size=${yachts.size})}"
                           th:text="${pageNumber + 1}"></a>
                    </li>

                    <li th:if="${yachts.number < yachts.totalPages - 1}" class="page-item">
                        <a class="btn btn-sm btn-outline-dark"
                           th:href="@{/home(page=${yachts.number + 1}, size=${yachts.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer th:fragment="footer()"  id="site-footer">
    <section class="horizontal-footer-section" id="footer-middle-section">
        <div id="footer-about" class="footer-columns footer-columns-large">
            <h1>Our Address</h1>
            <address>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Дніпровська набережна, 12-А, Київ, 02081</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">0504420361</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">h2oAdventureStudio@gmail.com</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">07:00 – 20:00</p>
            </address>
        </div>
        <div class="footer-columns">
            <h1>Information</h1>
            <ul class="footer-column-menu" role="menu">
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">About Us</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Message Us</a>
                </li>
                <li class="footer-column-menu-item" role="menuitem">
                    <a href="#" class="footer-column-menu-item-link">Leave a Feedback</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="horizontal-footer-section" id="footer-bottom-section">
        <div id="footer-copyright-info">
            &copy; 2023 H2O Adventure Studio Inc.
        </div>
        <div id="footer-social-buttons">
            <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
        </div>
    </section>
</footer>

<script>
    function validateNumber(element) {
        element.textContent = element.textContent.replace(/\D/g, '');
    }

    document.addEventListener('DOMContentLoaded', function () {
        let rangeOne = document.getElementById('rangeOne');
        let rangeTwo = document.getElementById('rangeTwo');
        let outputOne = document.querySelector('.outputOne');
        let outputTwo = document.querySelector('.outputTwo');
        let inclRange = document.querySelector('.incl-range');
        let minValue = parseInt(rangeOne.getAttribute('th:min'));
        let maxValue = parseInt(rangeTwo.getAttribute('th:max'));

        let updateView = function () {
            let valueOne = parseInt(rangeOne.value);
            let valueTwo = parseInt(rangeTwo.value);

            outputOne.textContent = valueOne;
            outputTwo.textContent = valueTwo;

            if (valueOne >= valueTwo) {
                rangeOne.value = valueTwo;
                valueOne = valueTwo;
            }

            inclRange.style.left = (valueOne - minValue) / (maxValue - minValue) * 100 + '%';
            inclRange.style.width = (valueTwo - valueOne) / (maxValue - minValue) * 100 + '%';
        };

        updateView();

        [rangeOne, rangeTwo].forEach(function (input) {
            input.addEventListener('input', function () {
                let value = parseInt(this.value);
                if (!isNaN(value) && value >= parseInt(this.min) && value <= parseInt(this.max)) {
                    updateView();
                }
            });
        });

        outputOne.addEventListener('input', function () {
            let value = parseInt(this.textContent);
            if (!isNaN(value) && value >= parseInt(rangeOne.min) && value <= parseInt(rangeOne.max)) {
                rangeOne.value = value;
                updateView();
            }
        });

        outputTwo.addEventListener('input', function () {
            let value = parseInt(this.textContent);
            if (!isNaN(value) && value >= parseInt(rangeTwo.min) && value <= parseInt(rangeTwo.max)) {
                rangeTwo.value = value;
                updateView();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.capacity-checkbox').addEventListener('change', function (event) {
            const checkbox = event.target;
            const checkboxId = checkbox.id;

            if (checkbox.tagName === 'INPUT' && checkbox.type === 'checkbox') {
                let capacityInput = document.getElementById("capacity");

                if (checkbox.checked) {
                    capacityInput.value += checkboxId + ' ';
                } else {
                    capacityInput.value = capacityInput.value.replace(checkboxId + ' ', '');
                }
            }
        });

        document.querySelector('.yacht-type-checkbox').addEventListener('change', function (event) {
            const checkbox = event.target;
            const checkboxId = checkbox.id;

            if (checkbox.tagName === 'INPUT' && checkbox.type === 'checkbox') {
                let yachtTypeInput = document.getElementById("yachtType");

                if (checkbox.checked) {
                    yachtTypeInput.value += checkboxId + ' ';
                } else {
                    yachtTypeInput.value = yachtTypeInput.value.replace(checkboxId + ' ', '');
                }
            }
        });
    });

</script>
</body>
</html>