<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content(creatingYachtDTO)">
        <form th:action="@{/yacht/add-yacht}" th:object="${creatingYachtDTO}" enctype="multipart/form-data" th:method="post">
            <div>
                <label th:for="customerName">Name:</label>
                <input th:type="text" th:field="*{name}">
            </div>
            <input type="file" th:field="*{photos}" name="photos" multiple>
            <div>
                <label th:for="customerLastName">Name:</label>
                <input th:type="text" th:field="*{age}" >
            </div>

            <div>
                <label>ID:</label>
                <input type="text" id="accountId" th:field="*{accountId}" readonly>
            </div>
            <div>
                <button th:type="submit">Submit Order</button>
            </div>
        </form>
    </div>
</body>
</html>