
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/yacht/info}" th:object="${yacht}" th:method="get">
<!--    <label for="photos">Yacht Photos:</label>-->
<!--    <input type="file" id="photos" name="photos" multiple readonly>-->
<!--    <br>-->

    <label for="name">Yacht Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" readonly>
    <br>

    <label for="age">Age of Yacht:</label>
    <input type="text" id="age" name="age" th:field="*{age}" readonly>
    <br>

    <label for="crew">Crew Count:</label>
    <input type="text" id="crew" name="crew" th:field="*{crew}" readonly>
    <br>

    <label for="capacity">Max Passenger Capacity:</label>
    <input type="text" id="capacity" name="capacity" th:field="*{capacity}" readonly>
    <br>

    <label for="pricePerHour">Price Per Hour:</label>
    <input type="text" id="pricePerHour" name="pricePerHour" th:field="*{pricePerHour}" readonly>
    <br>

    <label for="length">Yacht Length:</label>
    <input type="text" id="length" name="length" th:field="*{length}" readonly>
    <br>

    <label for="width">Yacht Width:</label>
    <input type="text" id="width" name="width" th:field="*{width}" readonly>
    <br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:field="*{description}" readonly></textarea>
    <br>

    <!--    TODO проблема кода в том что может быть нульевое значение и страница не загрузиться-->
    <!--    <label for="type">Yacht Type:</label>-->
    <!--    <input type="text" id="type" name="type" th:field="*{type}" readonly>-->
    <!--    <br>-->

    <a class="btn btn-sm btn-outline-dark" th:href="@{/order/{yachtId}(yachtId=${yacht.id})}"> Order </a>

</form>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <meta name='viewport' content='width=device-width, initial-scale=1'>-->
<!--    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>-->
<!--    <title>Show</title>-->
<!--    <style>-->
<!--        /* Basic Styling */-->
<!--        html, body {-->
<!--            height: 100%;-->
<!--            width: 100%;-->
<!--            margin: 0;-->
<!--            font-family: 'Roboto', sans-serif;-->
<!--        }-->

<!--        .container {-->
<!--            max-width: 1200px;-->
<!--            margin: 0 auto;-->
<!--            padding: 15px;-->
<!--            display: flex;-->
<!--        }-->

<!--        /* Columns */-->
<!--        .left-column {-->
<!--            width: 65%;-->
<!--            position: relative;-->
<!--        }-->

<!--        .right-column {-->
<!--            width: 35%;-->
<!--            margin-top: 60px;-->
<!--        }-->

<!--        * Left Column *-->

<!--        /-->
<!--        .left-column img {-->
<!--            width: 100%;-->
<!--            position: absolute;-->
<!--            left: 0;-->
<!--            top: 0;-->
<!--            opacity: 0;-->
<!--            transition: all 0.3s ease;-->
<!--        }-->

<!--        .left-column img.active {-->
<!--            opacity: 1;-->
<!--        }-->

<!--        /* Product Description */-->
<!--        .product-description {-->
<!--            border-bottom: 1px solid #E1E8EE;-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        .product-description span {-->
<!--            font-size: 12px;-->
<!--            color: #358ED7;-->
<!--            letter-spacing: 1px;-->
<!--            text-transform: uppercase;-->
<!--            text-decoration: none;-->
<!--        }-->

<!--        .product-description h1 {-->
<!--            font-weight: 300;-->
<!--            font-size: 52px;-->
<!--            color: #43484D;-->
<!--            letter-spacing: -2px;-->
<!--        }-->

<!--        .product-description p {-->
<!--            font-size: 16px;-->
<!--            font-weight: 300;-->
<!--            color: #86939E;-->
<!--            line-height: 24px;-->
<!--        }-->

<!--        * Product Color *-->

<!--        /-->
<!--        .product-color {-->
<!--            margin-bottom: 30px;-->
<!--        }-->

<!--        .color-choose div {-->
<!--            display: inline-block;-->
<!--        }-->

<!--        .color-choose input[type="radio"] {-->
<!--            display: none;-->
<!--        }-->

<!--        .color-choose input[type="radio"] + label span {-->
<!--            display: inline-block;-->
<!--            width: 40px;-->
<!--            height: 40px;-->
<!--            margin: -1px 4px 0 0;-->
<!--            vertical-align: middle;-->
<!--            cursor: pointer;-->
<!--            border-radius: 50%;-->
<!--            border: 2px solid #FFFFFF;-->
<!--            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);-->
<!--        }-->

<!--        .color-choose input[type="radio"]#red + label span {-->
<!--            background-color: #C91524;-->
<!--        }-->

<!--        .color-choose input[type="radio"]#blue + label span {-->
<!--            background-color: #314780;-->
<!--        }-->

<!--        .color-choose input[type="radio"]#black + label span {-->
<!--            background-color: #323232;-->
<!--        }-->

<!--        .color-choose input[type="radio"]:checked + label span {-->
<!--            background-image: url(images/check-icn.svg);-->
<!--            background-repeat: no-repeat;-->
<!--            background-position: center;-->
<!--        }-->

<!--        /* Cable Configuration */-->
<!--        .cable-choose {-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        .cable-choose button {-->
<!--            border: 2px solid #E1E8EE;-->
<!--            border-radius: 6px;-->
<!--            padding: 13px 20px;-->
<!--            font-size: 14px;-->
<!--            color: #5E6977;-->
<!--            background-color: #fff;-->
<!--            cursor: pointer;-->
<!--            transition: all .5s;-->
<!--        }-->

<!--        .cable-choose button:hover,-->
<!--        .cable-choose button:active,-->
<!--        .cable-choose button:focus {-->
<!--            border: 2px solid #86939E;-->
<!--            outline: none;-->
<!--        }-->

<!--        .cable-config {-->
<!--            border-bottom: 1px solid #E1E8EE;-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        .cable-config a {-->
<!--            color: #358ED7;-->
<!--            text-decoration: none;-->
<!--            font-size: 12px;-->
<!--            position: relative;-->
<!--            margin: 10px 0;-->
<!--            display: inline-block;-->
<!--        }-->

<!--        .cable-config a:before {-->
<!--            content: "?";-->
<!--            height: 15px;-->
<!--            width: 15px;-->
<!--            border-radius: 50%;-->
<!--            border: 2px solid rgba(53, 142, 215, 0.5);-->
<!--            display: inline-block;-->
<!--            text-align: center;-->
<!--            line-height: 16px;-->
<!--            opacity: 0.5;-->
<!--            margin-right: 5px;-->
<!--        }-->

<!--        /* Product Price */-->
<!--        .product-price {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--        }-->

<!--        .product-price span {-->
<!--            font-size: 26px;-->
<!--            font-weight: 300;-->
<!--            color: #43474D;-->
<!--            margin-right: 20px;-->
<!--        }-->

<!--        .cart-btn {-->
<!--            display: inline-block;-->
<!--            background-color: #7DC855;-->
<!--            border-radius: 6px;-->
<!--            font-size: 16px;-->
<!--            color: #FFFFFF;-->
<!--            text-decoration: none;-->
<!--            padding: 12px 30px;-->
<!--            transition: all .5s;-->
<!--        }-->

<!--        .cart-btn:hover {-->
<!--            background-color: #64af3d;-->
<!--        }-->

<!--        /* Responsive */-->
<!--        @media (max-width: 940px) {-->
<!--            .container {-->
<!--                flex-direction: column;-->
<!--                margin-top: 60px;-->
<!--            }-->

<!--            .left-column,-->
<!--            .right-column {-->
<!--                width: 100%;-->
<!--            }-->

<!--            .left-column img {-->
<!--                width: 300px;-->
<!--                right: 0;-->
<!--                top: -65px;-->
<!--                left: initial;-->
<!--            }-->
<!--        }-->

<!--        @media (max-width: 535px) {-->
<!--            .left-column img {-->
<!--                width: 220px;-->
<!--                top: -85px;-->
<!--            }-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/yacht/info}" th:object="${yacht}" th:method="get">-->
<!--    <main class="container">-->
<!--        <div class="left-column">-->

<!--        </div>-->

<!--        <div class="right-column">-->
<!--            <div class="product-description">-->
<!--                <span th:text="*{yachtType.getType()}"></span>-->
<!--                <h1 th:text="*{name}"></h1>-->
<!--                <p th:text="*{description}"></p>-->
<!--            </div>-->

<!--            <i class='fas fa-user-friends'></i>-->
<!--            <div class="product-configuration">-->

<!--                <i class='fas fa-user-friends'>-->
<!--                    <span th:text="*{capacity}"></span>-->
<!--                </i>-->



<!--                <div class="cable-config">-->
<!--                    <span>Cable configuration</span>-->

<!--                    <div class="cable-choose">-->
<!--                        <button>Straight</button>-->
<!--                        <button>Coiled</button>-->
<!--                        <button>Long-coiled</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="product-price">-->
<!--                <span th:text="'₴'+ *{pricePerHour}"></span>-->
<!--                <a class="cart-btn" th:href="@{/order/{yachtId}(yachtId=${yacht.id})}"> Order </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
