<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(content, title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script defer src="/js/count-price.js"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/js/modal.js"></script>
    <script defer src="/js/yacht.js"></script>
    <th:block th:switch="${content}">

        <th:block th:case="'profile'">
            <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
            <link href="/css/nav_footer.css" rel="stylesheet">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/modal.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
                  rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

            <script src="/js/script.js" defer></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

            <link rel="stylesheet" type="text/css"
                  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript"
                    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('form').submit(function (ev, picker) {
                        [startDate, endDate] = $('.date_range').val().split(' - ');
                        $(this).find('input[name="datemin"]').val(startDate);
                        $(this).find('input[name="datemax"]').val(endDate);
                    });

                    $('input.date_range').daterangepicker({
                        autoApply: true,
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        locale: {
                            format: 'MM/DD/YYYY'
                        }
                    });
                });
            </script>
        </th:block>

        <th:block th:case="'yacht'">

        </th:block>
        <th:block th:case="'creatingOrder'">

        </th:block>
        <th:block th:case="*">

        </th:block>
    </th:block>

</head>
<body>

</body>
</html>