@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.navbar button i.fa-bell {
    font-size: 1rem;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

footer#site-footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 1rem;
    color: #ffffff;
}

footer#site-footer a {
    color: #ffffff;
}

footer#site-footer a:hover {
    color: #00c3ce;
}

footer#site-footer h1 {
    color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2.38rem 2rem;
}

footer#site-footer #footer-logo img {
    height: 1.28rem;
}

footer#site-footer ul#footer-top-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 1.32rem;
    font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
    text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active a {
    color: #007ba6;
}

footer#site-footer .footer-top-menu-item-active a:hover {
    color: #00c3ce;
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
    align-items: flex-start;
}

footer#site-footer .footer-columns {
    flex-basis: 18%;
    padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
    flex-basis: 46%;
    padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
    font-size: 1.28rem;
    margin-top: 3rem;
    margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
    margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
    margin: 0;
    padding: 0;
}

footer#site-footer ul.footer-column-menu li {
    list-style-type: none;
    margin-bottom: 0.68rem;
    font-size: 0.88rem;
}

footer#site-footer #footer-about address {
    font-style: normal;
    font-weight: bold;
}

footer#site-footer #footer-about address p img {
    margin-right: 0.68rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    padding: 1.32rem 0;
    margin: 2rem 2rem 1.32rem 2rem;
    border-top: 0.05rem solid #ffffff;
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
    margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
    cursor: pointer;
}

@media screen and (max-width: 959px) {

    footer#site-footer {
        width: 100%;
    }

    footer#site-footer section.horizontal-footer-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer#site-footer section.horizontal-footer-section div {
        flex-basis: 100%;
        width: 100%;
    }

    footer#site-footer ul li {
        display: block !important;
        padding: 1em !important;
        border-top: 1px solid #ffffff;
        border-bottom: none;
        border-left: none;
        border-right: none;
        font-size: 1.15rem !important;
    }

    footer#site-footer ul li:first-child {
        border-top: none;
    }

    footer#site-footer section.horizontal-footer-section#footer-top-section div {
        margin-top: 0;
        margin-bottom: 1.68rem;
    }

    footer#site-footer #footer-about {
        margin-bottom: 3rem;
    }

    footer#site-footer .footer-columns-large,
    footer#site-footer .footer-columns {
        padding-right: 0;
    }

    footer#site-footer .footer-columns {
        margin-top: 0;
        margin-bottom: 4rem;
    }

    footer#site-footer .footer-columns:last-child {
        margin-bottom: 0;
    }

    footer#site-footer .footer-columns h1 {
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    footer#site-footer ul.footer-column-menu li {
        margin-bottom: 0;
        display: block;
        text-align: center;
    }

    footer#site-footer section#footer-bottom-section div {
        text-align: center;
    }

    footer#site-footer section.horizontal-footer-section#footer-bottom-section {
        margin: 1.32rem 0;
        padding: 0;
        border-top: 0;
    }

    footer#site-footer section#footer-bottom-section #footer-social-buttons {
        margin-top: 1.32rem;
    }
}