@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Vina+Sans&display=swap');
/* variables */
:root {
    --fontFamily: 'Ubuntu', sans-serif;
    --fontSize: 1em;
    --rowGap_input_and_text: 0.3125em; 
    --lightBlue: #4f6aa0;
    --borderRadius: 10px;
    --borderRadiusSmall: 8px;
}
/* nullation */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320 + px;
}
body {
	line-height: 1;
    font-family: var(--fontFamily);
	font-size: var(--fontSize);
    background: url("/images/background.jpg");
    color: #fff;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: var(--fontFamily);
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
    color: #87CEEB;
    text-decoration: underline;
}

a:link,
a:visited {
    color: #87CEEB;
    text-decoration: underline;
}

a:hover {
    color: #4682B4;
    text-decoration: underline;
}

a:active {
    color: #4682B4;
    text-decoration: underline;
}
ul li {
	list-style: none;
    font-family: var(--fontFamily);
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontFamily);
	font-weight: inherit;
	font-size: inherit;
}
/* checkbox */
.css-checkbox { 
    position: absolute; overflow: hidden; clip: rect(0 0 0 0); 
    height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
#inputPreview { 
    display: flex; gap: 20px; justify-content: center;	
}
.css-checkbox + label { 
    position: relative; font-size: 14px; cursor: pointer; 
    display: inline-flex; align-items: center; height: 18px; 
    color: #fff; }
.css-checkbox + label::before { 
    content: " "; display: inline-block; 
    vertical-align: middle; margin-right: 3px; 
    width: 18px; height: 18px; background-color: white; 
    border-width: 1px; border-style: solid; 
    border-color: rgb(0, 17, 255); border-radius: 10px; 
    box-shadow: none; }
.css-checkbox:checked + label::after { 
    content: " "; 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMTc0MmIwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+"); 
    background-repeat: no-repeat; background-size: 12px 12px; 
    background-position: center center; position: absolute; 
    display: flex; justify-content: center; align-items: center; 
    margin-left: 0px; left: 0px; top: 0px; text-align: center; 
    background-color: transparent; font-size: 10px; height: 18px; width: 18px; 
}
/* Register part */
input {
    font-size: 1.5em;
    padding-left: var(--rowGap_input_and_text);
    padding-right: var(--rowGap_input_and_text);
    border-radius: var(--borderRadius);
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sub-content {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5em;
    min-height: 28em;
    width: 50em;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding-bottom: 2em;
    padding-top: 1em;
}
.validity {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5em;
}
.validity h2 {
    color: rgb(0 191 255 / 97%);
    text-decoration: underline;
    cursor: default;
}
.title {
    font-size: 4em;
    cursor: default;
}
.form_of_register {
    display: flex;
    row-gap: 0.5em;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.name_and_lastName_part {
    display: flex;
    padding-bottom: 1.25em;
}
.name_part {
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap_input_and_text);
    padding-right: 2.5em;
}
.last_name_part {
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap_input_and_text);
}
.phoneNumber_and_emilPart {
    display: flex;
    padding-bottom: 1.25em;
}
.phonenumber_part {
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap_input_and_text);
    padding-right: 2.5em;
}
.email_part {
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap_input_and_text);
}
.password_and_ConfirmPassword {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    padding-bottom: 1.25em;
}
.password_part {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}
.password_part_first,
.password_part_second {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}
.password_text_and_input_checkbox {
    display: flex;
    justify-content: space-between;
    row-gap: var(--rowGap_input_and_text);
}
.error {
    padding: 2px;
    width: 12.5em;
    padding-left: 0.9375em;
    margin-top: var(--rowGap_input_and_text);
    background-color: #ff0000b8;
    border-radius: var(--borderRadiusSmall);
    color: #fff;
    cursor: default;
}
.input_and_p {
    display: flex;
}
.login_here_text {
    cursor: pointer;
    color: #13138b;
}
.signup_and_login {
    display: flex;
}
.register_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background-color: #183878;
    text-align: center;
    border-radius: var(--borderRadius);
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.register_button:hover {
    background-color: #114cc4;
}
.register_button:active {
    opacity: 0.7;
}
.login_here_error {
    margin-top: 1.2px;
}
.text_and_selection {
    display: flex;
    padding-bottom: 1.25em;
}
.choose_text {
    padding-right: 0.5em;
    font-size: 1.3em;
    margin-top: 2px;
}
.errors {
    margin-top: 1.4em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}
.selections_content {
    display: flex;
}
#user {
    cursor: pointer;
}
#yacht_owner {
    cursor: pointer;
}
.yacht_owner_text {
    cursor: pointer;
}
.user_text {
    cursor: pointer;
}
.selection {
    display: flex;
    column-gap: 1em;
    margin-top: 0.3em;
}
.password_part_first {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}
.password_part_second {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}
#complete_authorization {
    cursor: default;
}