<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:action="@{/account/edit-account}" th:object="${profile}" th:method="post" novalidate>

    <input type="hidden" th:field="*{id}">

    <div th:if="${isEmailExists}">
        <span style="color:red">Email is already exists</span>
    </div>

    <div th:if="${!changeEmail}">
        <div>
            <label for="edit-account_email_readonly">Email:</label>
            <input type="text" th:field="*{email}" id="edit-account_email_readonly" readonly/>
            <p style="color:red" th:each="error : ${#fields.errors('email')}" th:text="${error}">Email error</p>
            <a class="btn btn-sm btn-outline-dark" th:href="@{/account/change-email/{id}(id=${profile.id})}">Change email</a>
        </div>
    </div>
    <div th:unless="${!changeEmail}">
        <div th:if="${changeEmail}">
            <label for="edit-account_email">Email:</label>
            <input type="text" th:field="*{email}" id="edit-account_email"/>
            <p style="color:red" th:each="error : ${#fields.errors('email')}" th:text="${error}">Email error</p>
            <a class="btn btn-sm btn-outline-dark" th:href="@{/account/change-email/{id}(id=${profile.id})} ">Change email</a>
        </div>
    </div>

    <div>
        <label for="edit-account_name">Name:</label>
        <input type="text" th:field="*{name}" id="edit-account_name"/>
        <p style="color:red" th:each="error : ${#fields.errors('name')}" th:text="${error}">Name error</p>
    </div>

    <div>
        <label for="edit-account_lastName">Last Name:</label>
        <input type="text" th:field="*{lastName}" id="edit-account_lastName"/>
        <p style="color:red" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Last Name error</p>
    </div>

    <div>
        <label for="edit-account_phoneNumber">Phone number:</label>
        <input type="text" th:field="*{phoneNumber}" id="edit-account_phoneNumber"/>
        <p style="color:red" th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}">Phone number error</p>
    </div>

    <div>
        <label for="edit-account_bio">Bio:</label>
        <input type="text" th:field="*{bio}" id="edit-account_bio"/>
        <p style="color:red" th:each="error : ${#fields.errors('bio')}" th:text="${error}">Bio error</p>
    </div>

    <input type="hidden" th:field="*{password}">

    <button type="submit">Save</button>
</form>

<form th:action="@{/account/change-password}" method="get">
    <button class="btn btn-sm btn-outline-dark" type="submit">Change password</button>
</form>

<button class="pure-button pure-button-primary" onclick="window.location.href='/cabinet'">Cancel</button>

</body>
</html>
