<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div>

    <div th:if="${incorrectPassword}">
        <span style="color:red">Incorrect password</span>
    </div>

    <form th:action="@{/account/change-email}" th:object="${password}" th:method="post" novalidate>

        <input type="hidden" th:field="*{id}">

        <div>
            <label for="sign-up_password">Password:</label>
            <input type="password" th:field="*{password}" id="sign-up_password" oninput="updateConfirmPassword()"/>
            <input type="checkbox" id="show-password-checkbox" onclick="showPassword('sign-up_password')">Show Password
            <p style="color:red" th:each="error : ${#fields.errors('password')}" th:text="${error}">Password error</p>
        </div>

        <div>
            <input type="password" th:field="*{passwordConfirm}" id="sign-up_passwordConfirm" style="display: none;"/>
        </div>

        <div>
            <button type="submit">Сontinue</button>
        </div>

    </form>

</div>

<script>
    function updateConfirmPassword() {
        let password = document.getElementById('sign-up_password').value;
        document.getElementById('sign-up_passwordConfirm').value = password;
    }
</script>
</body>
</html>
