<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/sign_in.css">
    <link rel="stylesheet" href="/css/alert.css">
</head>

<body>
<div class="content" th:fragment="content(signInViewModel, signUp)">
    <div class="sub_content">
        <h2 class="login_text">Login</h2>
        <div th:if="${is_account_blocked}">
            <div class="error-msg">
                <i class="fa fa-times-circle"></i>
                Your account is blocked
            </div>
        </div>
        <div th:if="${param.error}">
            <div class="error-msg">
                <i class="fa fa-times-circle"></i>
                Check whether your email or password is correct
            </div>
        </div>
        <div th:if="${success_change_password}">
            <div class="success-msg">
                <i class="fa fa-check"></i>
                Password changed successfully
            </div>
        </div>
        <div th:if="${success}">
            <div class="success-msg">
                <i class="fa fa-check"></i>
                You have successfully completed registration
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="info-msg">
                <i class="fa fa-info-circle"></i>
                You have been logged out
            </div>
        </div>
        <form class="email_and_password" th:action="@{/authenticate}" method="post">
            <div class="email_content">
                <div>
                    <input class="input_email" type="text" name="email" id="login_email" placeholder="Email" />
                    <span id="emailError" style="color: red;"></span>
                </div>
            </div>
            <div class="password_content">
                <div class="passwordText_and_checkbox">

                    <div class="password_input_p">
                        <div id="inputPreview">
                            <input name="cssCheckbox" id="demo_opt_1" type="checkbox" class="css-checkbox"
                                   onclick="showPassword('login_password')">
                            <label for="demo_opt_1">
                                <p>Show Password</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="password_input_text">
                    <input type="password" name="password" id="login_password" placeholder="Password" />
                    <span id="passwordError" style="color: red;"></span>
                </div>
            </div>

            <div th:if="${param.error}" class="ui message">
                <a class="forgot_password_link" th:href="@{/account/change-password}">Forgot your password ?</a>
            </div>
            <div>
                <div id="inputPreview_second">
                    <input name="cssCheckbox" id="demo_opt_2" type="checkbox" th:checked="${rememberMe}"
                           class="css-checkbox">
                    <label for="demo_opt_2">
                        <p>Remember Me</p>
                    </label>
                </div>
            </div>
            <button class="login_button" type="submit">Login</button>
        </form>

        <div class="ui message">
            <p class="newToUs_text">New to us?</p>
            <a class="signup_button" th:href="@{/account/registration-page}">Sign Up</a>
        </div>

        <script defer src="/js/showPassword.js"></script>
    </div>
</div>
</body>
</html>