<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div>

    <form th:action="@{/account/password}" th:object="${password}" th:method="post" novalidate>
        <input type="hidden" th:field="*{id}">

        <div>
            <label for="sign-up_password">Password:</label>
            <input type="password" th:field="*{password}" id="sign-up_password"/>
            <input type="checkbox" id="show-password-checkbox" onclick="showPassword('sign-up_password')">Show Password
            <p style="color:red" th:each="error : ${#fields.errors('password')}" th:text="${error}">Password error</p>
        </div>
        <div>
            <label>Confirm password:</label>
            <input type="password" th:field="*{passwordConfirm}" id="sign-up_passwordConfirm"/>
            <input type="checkbox" onclick="showPassword('sign-up_passwordConfirm')">Show Password
            <p style="color:red" th:each="error : ${#fields.errors('passwordConfirm')}" th:text="${error}">
                PasswordConfirm error</p>
            <p style="color:red" th:each="error : ${#fields.errors('${password}')}" th:text="${error}">PasswordMatch error</p>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>

    </form>

    <button class="pure-button pure-button-primary" onclick="window.location.href='/account/edit-account'">Cancel</button>

</div>
</body>
</html>
