<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content(signUpViewModel)">

    <div th:if="${success}">
        <div style="color:green" class="alert alert-danger">To complete authorization, check your email</div>
    </div>

    <div th:if="${verify}">
        <div style="color:green" class="alert alert-danger">The link is no longer valid</div>
    </div>

    <div th:if="${error}">
        <div style="color:red" class="alert alert-danger">This email already exists</div>
    </div>

    <form th:action="@{/account/sign-up}" th:object="${signUpViewModel}" th:method="post" novalidate>

        <div>
            <label>Email:</label>
            <input type="text" th:field="*{email}" id="sign-up_email"/>
            <p style="color:red" th:each="error : ${#fields.errors('email')}" th:text="${error}">Email error</p>
        </div>
        <div>
            <label for="sign-up_password">Password:</label>
            <input type="password" th:field="*{password}" id="sign-up_password"/>
            <input type="checkbox" id="show-password-checkbox" onclick="showPassword('sign-up_password')">Show Password
            <p style="color:red" th:each="error : ${#fields.errors('password')}" th:text="${error}">Password error</p>
        </div>
        <div>
            <label>Confirm password:</label>
            <input type="password" th:field="*{passwordConfirm}" id="sign-up_passwordConfirm"/>
            <input type="checkbox" onclick="showPassword('sign-up_passwordConfirm')">Show Password
            <p style="color:red" th:each="error : ${#fields.errors('passwordConfirm')}" th:text="${error}">PasswordConfirm error</p>
            <p style="color:red" th:each="error : ${#fields.errors('${signUpViewModel}')}" th:text="${error}">PasswordMatch error</p>
        </div>
        <label>Choose an option:</label>
        <select th:field="*{role}" id="pet-select">
            <option value="USER">User</option>
            <option value="YACHT_OWNER">Yacht owner</option>
        </select>

        <div>
            <button type="submit">Sing-up</button>
        </div>

        <div th:if="${error}">
            <a th:href="@{/account/login-page}" class="fw-bold text-body"><u>Login here</u></a>
        </div>
    </form>

    <script defer src="/js/showPassword.js"></script>
</div>
</body>
</html>
