<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(${content}, ${title})">
    <title></title>
</head>
<body>
    <nav th:replace="fragments/navbar :: nav()"></nav>

    <th:block th:switch="${content}">

        <th:block th:case="'profile'">
            <main th:replace="account/profile/profile-page :: content(${profileContent})"></main>
        </th:block>

        <th:block th:case="'loginPage'">
            <div th:replace="account/login-page :: content(${signInViewModel}, ${signUp})"></div>
        </th:block>

        <th:block th:case="'createOrder'">
            <div th:replace="order/create-order-page :: content(${createOrderDTO})"></div>
        </th:block >

        <th:block th:case="'order/create-order-page'" >
            <div th:replace="~{${content}}" th:with="createOrderDTO = ${createOrderDTO}">
            </div>
        </th:block>

        <th:block th:case="'addingYacht'" >
            <div th:replace="yacht/add-yacht :: content(${yacht})"></div>
        </th:block>

        <th:block th:case="'facility/updating-facility-page'" >
            <div th:replace="~{${content}}"
                 th:with="updatingFacilityDTOList = ${updatingFacilityDTOList}">
                <span th:break=""></span></div>
        </th:block>

        <th:block th:case="'account/registration-page'">
            <div  th:replace="~{${content}}"
                 th:with="signUp =  ${signUp}"></div>
        </th:block>
    </th:block>



    <div id="modal-temp" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="main-content-modal">

            </div>
            <div style="padding-top: 10px" id="controller-panel">

            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>