<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div th:fragment="profileContent()">

    <article class="about active" data-page="about">

        <div th:if="${users.totalElements < 1}">

            <h3 class="h3 order-title article-title">Users</h3>

            <form th:action="@{/cabinet/search_user}" th:method="post">

                <div>
                    <input type="text" placeholder="Search by name" class="adv-option-button" name="searchName"/>
                    <button type="submit">Search</button>
                </div>
            </form>
            <br>

            <h2>There are no registered accounts on the site yet</h2>

        </div>

        <div th:unless="${users.totalElements  < 1}">

            <h3 class="h3 order-title article-title">Users</h3>

            <form th:action="@{/cabinet/search_user}" th:method="post">

                <div>
                    <input type="text" placeholder="Search by name" class="adv-option-button" name="searchName"/>
                    <button type="submit">Search</button>
                </div>
            </form>


            <div th:each="user : ${users}">

                <section class="order">

                    <ul class="order-list">

                        <li class="order-item">

                            <div class="order-icon-box"><img src="/images/boat-outline.svg" alt="icon" width="40"></div>

                            <div class="order-content-box">

                                <h4 class="h4 order-item-title" th:text="${user.name}"></h4>

                                <h4 class="h4 order-item-title" th:text="${user.lastName}"></h4>

                                <h4 class="h4 order-item-title"
                                    th:text="${user.roles.toArray()[user.roles.size() - 1].role}"></h4>

                                <h4 class="h4 order-item-title" th:text="${user.email}"></h4>

                                <h4 class="h4 order-item-title" th:text="${user.phoneNumber}"></h4>

                            </div>
                        </li>
                    </ul>

                    <div>

                        <form th:action="@{/cabinet/blocked/{id}(id=${user.id})}" method="post">
                            <button id="toggleButton" class="btn btn-sm btn-outline-dark">
                                <span th:text="${user.isBlocked ? 'Unblock user' : 'Block user'}"></span>
                            </button>
                            <input type="hidden" id="isBlockedInput" name="isBlocked" th:value="${user.isBlocked}"/>
                        </form>

                        <div th:if="${user.roles.toArray()[user.roles.size() - 1].role} == 'USER'">
                            <form th:action="@{/cabinet/role_distribution/{id}(id=${user.id})}" method="post">
                                <button type="submit">Promote role to yacht owner</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

            <nav aria-label="Page navigation example">

                <ul class="pagination justify-content-center">
                    <li th:if="${users.number > 0}" class="page-item">
                        <a class="btn btn-sm btn-outline-dark"
                           th:href="@{/cabinet/all_user(page=${users.number - 1}, size=${users.size})}"
                           tabindex="-1">Previous</a>
                    </li>

                    <li th:each="pageNumber : ${#numbers.sequence(0, users.totalPages - 1)}"
                        th:class="${pageNumber == users.number ? 'page-item active' : 'page-item'}">
                        <a class="btn btn-sm btn-outline-dark"
                           th:href="@{/cabinet/all_user(page=${pageNumber}, size=${users.size})}"
                           th:text="${pageNumber + 1}"></a>
                    </li>

                    <li th:if="${users.number < users.totalPages - 1}" class="page-item">
                        <a class="btn btn-sm btn-outline-dark"
                           th:href="@{/cabinet/all_user(page=${users.number + 1}, size=${users.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </article>
</div>
</body>
</html>