<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>

</head>
<body>
<div th:fragment="profileContent()">
    <article class="about active" data-page="about">

        <div th:if="${#lists.isEmpty(yachts)}">

            <h3 class="h3 order-title article-title">Yacht</h3>
            <h2>You don't have any yachts yet</h2>
            <a class="add_yacht_button" th:href="@{/yacht/add-yacht(accountId=${accountId})}">Add yacht</a><br>

        </div>

        <div th:unless="${#lists.isEmpty(yachts)}">

            <div th:fragment="profileContent()">
                <h3 class="h3 order-title article-title">Yacht</h3>
                <a class="add_yacht_button" th:href="@{/yacht/add-yacht(accountId=${accountId})}">Add yacht</a><br>
            </div>

            <div th:each="yacht : ${yachts}">

                <section class="order">
                    <ul class="order-list">
                        <div>
                            <li class="order-item">
                                <div class="order-icon-box">
                                    <img src="/images/boat-outline.svg" alt="icon" width="40">
                                </div>
                                <div class="order-content-box">
                                    <h4 class="h4 order-item-title" th:text="${yacht.name}"></h4>

                                    <p class="order-item-text" th:text="${yacht.description}"></p>
                                </div>
                            </li>

                            <div class="contact-item">
                                <a class="show_more_button" th:href="@{/yacht/info(id=${yacht.id})}">Show more</a>
                                <a class="update_button" th:href="@{/yacht/update(id=${yacht.id})}">Update</a>
                                <form th:action="@{/yacht/delete-yacht(id=${yacht.id})}" method="post">
                                    <button class="delete_button" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </ul>
                </section>

                <div class="modal-container-order" data-order-container>
                    <div class="overlay" data-overlay>
                        <section class="order-modal">
                            <button class="order-close-btn" data-modal-close-btn>
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                            <div class="modal-img-wrapper">
                                <figure class="modal-icon-box">
                                    <img src="/images/boat-outline.svg" alt="icon" width="80px" data-modal-img>
                                </figure>
                            </div>
                            <div class="order-modal-content">
                                <h4 class="h3 modal-title" th:text="${yacht.name}" data-modal-tite></h4>
                                <div data-modal-description>
                                    <p th:text="${yacht.description}"></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
</body>
</html>