<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div th:fragment="profileContent()">
    <article class="about active" data-page="about">

        <div th:if="${#lists.isEmpty(orders)}">

            <h3 class="h3 order-title article-title"> Your Order </h3>
            <h2>You haven't ordered anything yet</h2>

        </div>

        <div th:unless="${#lists.isEmpty(orders)}">

            <h3 class="h3 order-title article-title"> Your Order </h3>

            <div th:each="order : ${orders}">

                <section class="order">

                    <ul class="order-list">

                        <li class="order-item">

                            <div class="order-icon-box"><img src="/images/boat-outline.svg" alt="icon" width="40"></div>

                            <div class="order-content-box">

                                <h4 class="h4 order-item-title" th:text="${order.yacht.name}"></h4>

                                <h4 class="h4 order-item-title" th:text="${order.date}"></h4>

                                <h4 class="h4 order-item-title" th:text="${order.startOfRent}"></h4>

                                <h4 class="h4 order-item-title" th:text="${order.finishOfRent}"></h4>

                            </div>

                        </li>

                    </ul>

                </section>

                <div class="modal-container-order" data-order-container>

                    <div class="overlay" data-overlay>

                        <section class="order-modal">

                            <button class="order-close-btn" data-modal-close-btn>
                                <ion-icon name="close-outline"></ion-icon>
                            </button>

                            <div class="modal-img-wrapper">
                                <figure class="modal-icon-box">
                                    <img src="/images/boat-outline.svg" alt="icon" width="80px" data-modal-img>
                                </figure>
                            </div>

                            <div class="order-modal-content">

                                <h4 class="h4 order-item-title" th:text="${order.yacht.name}"></h4>

                                <h4 class="h4 order-item-title" th:text="${order.date}"></h4>

                                <h4 class="h4 order-item-title" th:text="${order.startOfRent}"></h4>

                                <h4 class="h4 order-item-title" th:text="${order.finishOfRent}"></h4>

                            </div>

                        </section>

                    </div>

                </div>

            </div>

        </div>

    </article>

</div>
</body>
</html>