<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
</head>
<body>

<div th:fragment="profileContent()">

      <!-- Order -->

      <article class="about active" data-page="about">


        <section class="order">
          <h3 class="h3 order-title article-title">
            Order
          </h3>

          <ul class="order-list">

            <li class="order-item">

              <div class="order-icon-box">
                <img src="/images/boat-outline.svg" alt="icon" width="40">
              </div>

              <div class="order-content-box">
                <h4 class="h4 order-item-title">
                  Yaht's name
                </h4>

                <time datetime="2023-09-16">16 September, 2023</time>

                <p class="order-item-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nulla quasi alias ea accusamus autem rerum praesentium! Aliquid debitis omnis vitae, nam voluptatem officia minima laboriosam velit dolore harum a error cupiditate.
                </p>

              </div>

            </li>

            <li class="order-item">

              <div class="order-icon-box">
                <img src="/images/boat-outline.svg" alt="icon" width="40">
              </div>

              <div class="order-content-box">
                <h4 class="h4 order-item-title">
                  Yaht's name
                </h4>

                <time datetime="2023-09-16">16 September, 2023</time>

                <p class="order-item-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nulla quasi alias ea accusamus autem rerum praesentium! Aliquid debitis omnis vitae, nam voluptatem officia minima laboriosam velit dolore harum a error cupiditate.
                </p>

              </div>

            </li>

            <li class="order-item">

              <div class="order-icon-box">
                <img src="/images/boat-outline.svg" alt="icon" width="40">
              </div>

              <div class="order-content-box">
                <h4 class="h4 order-item-title">
                  Yaht's name
                </h4>

                <time datetime="2023-09-16">16 September, 2023</time>

                <p class="order-item-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nulla quasi alias ea accusamus autem rerum praesentium! Aliquid debitis omnis vitae, nam voluptatem officia minima laboriosam velit dolore harum a error cupiditate.
                </p>

              </div>

            </li>

            <li class="order-item">

              <div class="order-icon-box">
                <img src="/images/boat-outline.svg" alt="icon" width="40">
              </div>

              <div class="order-content-box">
                <h4 class="h4 order-item-title">
                  Yaht's name
                </h4>

                <time datetime="2023-09-16">16 September, 2023</time>

                <p class="order-item-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nulla quasi alias ea accusamus autem rerum praesentium! Aliquid debitis omnis vitae, nam voluptatem officia minima laboriosam velit dolore harum a error cupiditate.
                </p>

              </div>

            </li>


          </ul>

        </section>

        <div class="modal-container-order" data-order-container>

          <div class="overlay" data-overlay>

            <section class="order-modal">

              <button class="order-close-btn" data-modal-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>

              <div class="modal-img-wrapper">
                <figure class="modal-icon-box">
                  <img src="/images/boat-outline.svg" alt="icon" width="80px" data-modal-img>
                </figure>
              </div>

              <div class="order-modal-content">
                <h4 class="h3 modal-title" data-modal-tite>
                  Yaht's name
                </h4>

                <time datetime="2023-09-16">16 September, 2023</time>

                <div data-modal-description>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore hic eligendi magnam voluptatem dignissimos in explicabo, reprehenderit esse a soluta at recusandae, temporibus nihil perferendis quos vel, officiis quisquam beatae cumque asperiores! Assumenda id quis incidunt quaerat in reprehenderit optio impedit nam ex aut sequi, quidem quae rem nulla. Deserunt?
                  </p>
                </div>

              </div>


            </section>

          </div>

        </div>

      </article>

  </div>
</body>
</html>