<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
</head>
<body>

<div th:fragment="profileContent()">
  <!-- review-->

  <article class="review active" data-page="review">

    <header>

      <h2 class="h2 article-title">
        Review
      </h2>

      <section class="timeline">

        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
          </div>

          <h3 class="h3">Comments</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">

            <h4 class="h4 timeline-item-titel">
              Title for comments
            </h4>

            <span>09-13.2023</span>

            <p class="timeline-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, consequatur. Maiores, saepe necessitatibus! Cupiditate a minima reprehenderit nisi impedit veritatis, ducimus deleniti nesciunt consectetur deserunt itaque, magnam id obcaecati aliquam blanditiis labore!
            </p>

          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-titel">
              Title for comments
            </h4>

            <span>09-13.2023</span>

            <p class="timeline-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, consequatur. Maiores, saepe necessitatibus! Cupiditate a minima reprehenderit nisi impedit veritatis, ducimus deleniti nesciunt consectetur deserunt itaque, magnam id obcaecati aliquam blanditiis labore!
            </p>

          </li>

          <li class="timeline-item">
            <h4 class="h4 timeline-item-titel">
              Title for comments
            </h4>

            <span>09-13.2023</span>

            <p class="timeline-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, consequatur. Maiores, saepe necessitatibus! Cupiditate a minima reprehenderit nisi impedit veritatis, ducimus deleniti nesciunt consectetur deserunt itaque, magnam id obcaecati aliquam blanditiis labore!
            </p>

          </li>

        </ol>



      </section>

    </header>

    <section class="stats">

      <h3 class="h3 stats-title">
        My statistic
      </h3>

      <ul class="stats-list content-card">

        <li class="stats-item">

          <div class="title-wrapper">
            <h5 class="h5">Excellent</h5>
            <data value="60">60%</data>
          </div>

          <div class="stats-progress-bg">
            <div class="stats-progress-fill" style="width: 60%;"></div>
          </div>

        </li>

        <li class="stats-item">

          <div class="title-wrapper">
            <h5 class="h5">Good</h5>
            <data value="25">25%</data>
          </div>

          <div class="stats-progress-bg">
            <div class="stats-progress-fill" style="width: 25%;"></div>
          </div>

        </li>

        <li class="stats-item">

          <div class="title-wrapper">
            <h5 class="h5">Not bad</h5>
            <data value="10">10%</data>
          </div>

          <div class="stats-progress-bg">
            <div class="stats-progress-fill" style="width: 10%;"></div>
          </div>

        </li>

        <li class="stats-item">

          <div class="title-wrapper">
            <h5 class="h5">Bad</h5>
            <data value="5">5%</data>
          </div>

          <div class="stats-progress-bg">
            <div class="stats-progress-fill" style="width: 5%;"></div>
          </div>

        </li>

      </ul>

    </section>

  </article>
</div>
</body>
</html>